body {
  background-color: #fff;
  color: #333;
  margin: 75px 25px 75px 25px;
  font-family: 'Lato', 'Montserrat', 'cwTeXFangSong', verdana, arial, helvetica, sans-serif;
}

/*
*table td, .table th {
*  display: flex;
*}
*/

/*
*
*.table td, .table th {
*	vertical-align: inherit;
*}
*
*/
/**
*table {
*  &.td, &.th {
*    display: flex;
*  }
*}
**/